# RewriteRule ^(.*)/?$ $1.html [L,R=302]
# https://ubiq.co/tech-blog/redirect-keep-original-url-using-htaccess/
# RewriteRule ^(.*)/?$ $1.html [L,NE,P] => will give error 500, only 
# for domain to external domain redirects ?

# https://gist.github.com/alch/7766993?permalink_comment_id=3625345
# https://stackoverflow.com/questions/64339319/use-environment-variable-in-htaccess-to-deal-with-two-rewritebase-statements
# https://httpd.apache.org/docs/2.4/rewrite/advanced.html
# https://ocean.ac-poitiers.fr/manual/misc/rewriteguide.html
RewriteEngine On

# RewriteRule   ^(.*)/S=([^/]+)/(.*)    $1/$3 [E=STATUS:$2]
# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule ^ - [E=FILENAME_WITHOUT_SLASH:%1]

# https://webmasters.stackexchange.com/questions/50889/redirect-loop-in-htaccess-when-removing-trailing-slash
# Security Warning : Turning off the trailing slash redirect may result in an information disclosure
#  But a request without trailing slash would list the directory contents.
DirectorySlash Off # => Still not working, still 404 if .html is same name as a sub-directory folder...
# Options +Indexes


# only removing trailing slash for now :
# https://www.rewriteguide.com/apache-add-remove-trailing-slash/
# RewriteCond %{REQUEST_URI} /(.*)/$
# RewriteRule ^ /%1 [L,NE]

# RewriteCond %{REQUEST_FILENAME}.html -f
# # RewriteRule ^(.*)/?$ $1.html [L,NE]
# RewriteRule ^([^\.]+)$ $1.html [NC,L]

# https://stackoverflow.com/questions/2017748/htaccess-proper-rewriting-of-directory-and-file-with-same-name
# Hide extension
# https://webmasters.stackexchange.com/questions/132593/rewriting-a-folder-name-using-htaccess-doesnt-want-to-work
# RewriteCond %{REQUEST_FILENAME}\.html -f
# RewriteRule ^(.*)$ $1.html [DPI,QSA,NC,L]

# https://perishablepress.com/stupid-htaccess-tricks/#performance

# https://stackoverflow.com/questions/5730092/how-to-remove-html-from-url
# filter the wordpress backend, folder starting with _ :
RewriteCond %{REQUEST_URI} !^_/
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

# filter the wordpress backend, folder starting with _ :
RewriteCond %{REQUEST_URI} !^_/
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]
