@import 'tailwindcss/base';
@import './ax-base.scss';

@import 'tailwindcss/components';
/* @import './ax-components.css'; */

@import 'tailwindcss/utilities';
/* @import './ax-utilities.css'; */

/* // @tailwind base; */
/* // @tailwind components; */
/* // @tailwind utilities; */
