/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body::-webkit-scrollbar {
		width: 1em;
	}

	body::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	body::-webkit-scrollbar-thumb {
		border: 5px solid transparent;
		border-radius: 100px;
		background-color: #717074;
		background-clip: content-box;
	}

	body::-webkit-scrollbar-thumb:hover {
		background-color: #0f2caf;
	}
}

/* // TIPS ++ : https://tailwindcss.com/docs/adding-custom-styles#removing-unused-custom-css */
@layer utilities {
	/* .vinz-red {
color: #fcb8ab
    }
    .vinz-creme {
      color: red
    }
    .vinz-red {
      color: red
    }

    :global(vinz-red) {
      display: block !important;
      height: auto !important;
      width: auto !important;
      position: static !important;
    } */

	/* Theme colors. */
	:root {
		/* !! a synchroniser avec tailwind */
		--wa-color-0: #ffffff;
		--wa-color-1: #b8b5b5;
		--wa-color-2: rgb(33, 33, 51);
		/* SMUI */
		--mdc-theme-primary: #f6c0c0;
		--mdc-theme-secondary: #676778;
		--mdc-theme-background: #fff;
		--mdc-theme-surface: #fff;
		--mdc-theme-error: #b71c1c;
		--mdc-theme-on-primary: #fff;
		--mdc-theme-on-secondary: #fff;
		--mdc-theme-on-surface: #000;
		--mdc-theme-on-error: #fff;
		--mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
		--mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
		--mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
		--mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
		--mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
		--mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
		--mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
		--mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
		--mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
		--mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
		--mdc-theme-text-primary-on-dark: white;
		--mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
		--mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
		--mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
		--mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
	}
}
